.not-found{
    height: 100vh;
    background-image: url('../../../../assets/images/page_not_found.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    overflow: hidden;
}